* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: sans-serif;
}
ol {
	margin: 0;
	list-style: none;
	padding: 0;
	color: white;
	--unit: 1rem;
}
ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: white;
	cursor: pointer;
}

a:hover {
	opacity: 1;
}
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

.seize {
	overflow: hidden;
	max-height: 100vh;
}
header,
h2 {
	font-family: "Quicksand", sans-serif;
}

/* Navbar */
.navbar-area {
	background: darkgray;
	position: fixed;
	width: 100%;
	z-index: 10000;
}
.site-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a.site-logo {
	font-size: 26px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.site-navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.site-navbar ul li a {
	color: #fff;
	padding: 0 20px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-toggler {
	border: 3px solid #fff;
	padding: 5px;
	background-color: transparent;
	cursor: pointer;
	height: 39px;
	display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
	width: 28px;
	height: 3px;
	background-color: #fff;
	display: block;
	transition: 0.3s;
}
.nav-toggler span:before {
	content: "";
	transform: translateY(-9px);
}
.nav-toggler span:after {
	content: "";
	transform: translateY(6px);
}
.nav-toggler.toggler-open span {
	background-color: transparent;
}
.nav-toggler.toggler-open span:before {
	transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
	transform: translateY(-3px) rotate(-45deg);
}

/* Tahoe-Lafs Description */
.logo {
	width: 50%;
}

.data {
	width: 50%;
}
.hero {
	width: 50%;
}
.architecture {
	width: 100%;
}
.banner {
	background-color: #00000087;
	padding: 152px 80px;
}
.side {
	display: flex;
	justify-content: space-between;

	align-items: center;
}
.view {
	margin-top: 60px;
}

.view a {
	background-color: red;
	padding: 16px 32px;
	border-radius: 5px;
}

.hero h1 {
	font: bold 40px "Open Sans", sans-serif;
	margin-bottom: 20px;
	text-align: left;
	line-height: 50px;
	color: white !important;
}

.hero p {
	font: normal 18px "Open Sans", sans-serif;
	margin-bottom: 40px;
	text-align: center;
	text-align: left;
	line-height: 24px;
	color: white !important;
}
.event-date {
	margin: 0 0 0.25rem;
	font-weight: bold;
}
.event-description {
	margin: 0;
}
.tahoe {
	color: black;
	margin-top: 40px;
	text-align: center;
}
.step {
	--height: 7rem;
	position: relative;
	display: block;
	padding: 1rem;
	margin: 2rem 1.5rem;
}
.step::before {
	content: "";
	background-color: inherit;
	position: absolute;
	display: block;
	width: var(--unit);
	height: var(--unit);
	top: 100%;
	left: calc(50% - (var(--unit) / 2));
}
.step::after {
	content: "";
	color: #00000087;
	position: absolute;
	display: block;
	top: calc(100% + var(--unit));
	left: calc(50% - (var(--unit)));
	border: var(--unit) solid transparent;
	border-top-color: inherit;
}
li:last-child::before,
li:last-child::after {
	content: none;
}
.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 60px;
}
.ordered {
	margin-top: 2rem;
}

.packages .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
	background-color: #00000087;
}

/* Tahoe-Lafs Documentation */
.card-guide {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 100px 80px;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 20%;
}
.install {
	width: 100%;
	height: 200px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 10px 16px;
}
.doc {
	text-align: center;
}
.container a {
	color: black;
	word-break: break-all;
}

/* Tahoe-Lafs Contact */
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

.combination {
	background-color: #7e9966d4;
}

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}
.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}
.contact p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}
hr {
	width: 250px;
	height: 3px;
	background-color: black;
	border: 0;
	margin-bottom: 50px;
}
@media screen and (max-width: 699px) {
	.container {
		max-width: 720px;
	}

	.nav-toggler {
		display: block;
	}
	.site-navbar {
		min-height: 60px;
	}
	.site-navbar ul {
		position: absolute;
		width: 100%;
		height: calc(100vh - 60px);
		left: 0;
		top: 80px;
		flex-direction: column;
		align-items: center;
		z-index: 10000;
		background-color: rgba(0, 0, 0, 0.75);
		max-height: 0;
		overflow: hidden;
		transition: 0.3s;
	}
	.site-navbar ul li {
		width: 100%;
		text-align: center;
	}
	.site-navbar ul li a {
		padding: 25px;
	}
	.site-navbar ul li a:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.site-navbar ul.open {
		max-height: 100vh;
		overflow: auto;
	}
	.banner {
		padding: 100px 40px;
	}
	.side {
		display: block;
	}
	.hero {
		width: 100%;
	}
	.data {
		width: 100%;
	}
	.hero h1 {
		text-align: center;
	}
	.hero h3 {
		text-align: center;
	}
	.view {
		margin-bottom: 70px;
		text-align: center;
	}
	.tahoe {
		text-align: center;
	}
	.grid {
		padding: 30px;
	}

	.card-guide {
		display: block;
		padding: 0 40px 30px 40px;
	}
	.card {
		width: 100%;
		margin-top: 40px;
	}
}

@media (min-width: 700px) and (max-width: 770px) {
	.packages .grid li {
		padding: 20px;
		min-width: 40%;
	}
	.install {
		height: 88px;
	}
	.banner {
		padding: 140px 40px;
	}
	.card-guide {
		padding: 100px 40px;
	}
}

@media (min-width: 1000px) and (max-width: 1199px) {
	.step {
		margin: 1rem;
		width: calc(33.33% - 4rem);
		float: left;
		min-height: 7rem;
	}
	li:nth-child(6n + 4) {
		float: right;
	}
	li:nth-child(6n + 1)::before,
	li:nth-child(6n + 2)::before {
		top: calc(var(--height) / 2 + var(--unit) / 2);
		left: 100%;
	}
	li:nth-child(6n + 1)::after,
	li:nth-child(6n + 2)::after {
		top: 3.5rem;
		left: calc(100% + (var(--unit)));
		border: var(--unit) solid transparent;
		border-left-color: inherit;
	}
	li:nth-child(6n + 4)::before {
		top: calc(var(--height) / 2 + var(--unit) / 2);
		left: -1rem;
	}
	li:nth-child(6n + 4)::after {
		top: calc(var(--height) / 2);
		left: -3rem;
		border: var(--unit) solid transparent;
		border-right-color: inherit;
	}

	.install {
		height: 110px;
	}
}

@media (min-width: 1200px) {
	ol {
		max-width: 1600px;
		margin: 0 auto;
	}
	.step {
		margin: 1rem;
		width: calc(25% - 4rem);
		float: left;
		min-height: 7rem;
	}
	li:nth-child(8n + 5),
	li:nth-child(8n + 6),
	li:nth-child(8n + 7),
	li:nth-child(8n + 8) {
		float: right;
	}
	li:nth-child(8n + 1)::before,
	li:nth-child(8n + 2)::before,
	li:nth-child(8n + 3)::before {
		top: calc(var(--height) / 2 + var(--unit) / 2);
		left: 100%;
	}
	li:nth-child(8n + 1)::after,
	li:nth-child(8n + 2)::after,
	li:nth-child(8n + 3)::after {
		top: calc(var(--height) / 2);
		left: calc(100% + (var(--unit)));
		border: var(--unit) solid transparent;
		border-left-color: inherit;
	}
	li:nth-child(8n + 5)::before,
	li:nth-child(8n + 6)::before,
	li:nth-child(8n + 7)::before {
		top: calc(var(--height) / 2 + var(--unit) / 2);
		left: -1rem;
	}
	li:nth-child(8n + 5)::after,
	li:nth-child(8n + 6)::after,
	li:nth-child(8n + 7)::after {
		top: calc(var(--height) / 2);
		left: -3rem;
		border: var(--unit) solid transparent;
		border-right-color: inherit;
	}
}

@media only screen and (min-width: 2000px) {
	body,
	nav {
		max-width: 1500px;
		margin: auto !important;
		background-color: #80808026;
	}
	.__body {
		margin: auto;
	}
}
