<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-12">

      <article>
        <div id="content">
        <section id="content">
        <h1 class="display-5 fw-bold lh-1 mb-3">News</h1>

          <ol id="post-list">
              <li><article class="hentry">
                  <header> <h2 class="entry-title"><a href="https://sajith.github.io/tahoe-website/posts/2020/04/tahoe-lafs-v1150rc0-available/" rel="bookmark" title="Permalink to Tahoe-LAFS v1.15.0rc0 available">Tahoe-LAFS v1.15.0rc0 available</a></h2> </header>
                  <footer class="post-info">
                    <time class="published" datetime="2020-04-21T00:00:00+00:00"> Tue 21 April 2020 </time>
                    <address class="vcard author">By
                        <a class="url fn" href="https://sajith.github.io/tahoe-website/author/tahoe-lafs-team.html">Tahoe-LAFS team</a>
                    </address>
                  </footer><!-- /.post-info -->
                  <div class="entry-content"> <p>Tahoe-LAFS v1.15.0rc0 is now available.</p>
       </div><!-- /.entry-content -->
              </article></li>
              <li><article class="hentry">
                  <header> <h2 class="entry-title"><a href="https://sajith.github.io/tahoe-website/posts/2014/02/spam-filtering-on-trac/" rel="bookmark" title="Permalink to Spam filtering on Trac">Spam filtering on Trac</a></h2> </header>
                  <footer class="post-info">
                    <time class="published" datetime="2014-02-02T00:00:00+00:00"> Sun 02 February 2014 </time>
                    <address class="vcard author">By
                        <a class="url fn" href="https://sajith.github.io/tahoe-website/author/tahoe-lafs-team.html">Tahoe-LAFS team</a>
                    </address>
                  </footer><!-- /.post-info -->
                  <div class="entry-content"> <p>Spam filtering has been enabled on Tahoe-LAFS Trac.  If you have any
      problems with false-positives, please report them on #tahoe-lafs.</p>
       </div><!-- /.entry-content -->
              </article></li>
          </ol><!-- /#posts-list -->
        </section><!-- /#content -->
              </div>
            </article>


    </div>
  </div>
</div>
