<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Donate</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Would you like to be part of our team by donating to the project? Here are our donation channels:</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/BitCoinPage"><button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"><i class="fa fa-btc" aria-hidden="true"></i> Bitcoin</button></a>
        <a href="http://flattr.com/thing/48658/Tahoe-LAFS-Open-source-secure-storage-software"><button type="button" class="btn btn-outline-light btn-lg px-4"><i class="fa fa-retweet" aria-hidden="true"></i> Flattr</button></a>
        <a href="#"><button type="button" class="btn btn-outline-light btn-lg px-4"><i class="fa fa-paypal" aria-hidden="true"></i> Paypal</button></a>
      </div>
    </div>
  </div>
</div>
