<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-6 fw-bold lh-1 mb-3">Contact Us</h1>
      <p class="col-lg-10 fs-4">You could always use this form to send us emails. Additionally, you could get in touch with or follow us on Social Media.</p>
      <p class="col-lg-10 fs-4">
        <a href="#"><i class="fa fa-facebook-square fa-3" aria-hidden="true"></i></a> &nbsp; <a href="#"><i class="fa fa-twitter-square fa-3" aria-hidden="true"></i></a> &nbsp; <a href="#"><i class="fa fa-linkedin-square fa-3" aria-hidden="true"></i></a> 
      </p>
    </div>
    <div class="col-10 mx-auto col-lg-5">
      <form class="p-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Jane Doe">
          <label for="floatingPassword">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Your text">
          <label for="floatingPassword">Content</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Send, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>
