<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Navbar Menu">
  <div class="container">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars01" aria-controls="navbars01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbars01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://rahamraf.github.io/web-design/take-home-assignment/RahamRaf/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#news">News</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/tahoe-lafs/tahoe-lafs">Github</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/tahoe-lafs/tahoe-lafs">Documentation</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">About</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown07">
            <li><a class="dropdown-item" href="#donate">Donate</a></li>
            <li><a class="dropdown-item" href="https://tahoe-lafs.org/trac/tahoe-lafs">About Trac</a></li>
            <li><a class="dropdown-item" href="https://tahoe-lafs.org/trac/tahoe-lafs/roadmap">Roadmap</a></li>
            <li><a class="dropdown-item" href="#contact">Contact</a></li>
          </ul>
        </li>
      </ul>

      <form>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>

    </div>
  </div>
</nav>

<div class="b-example-divider"></div>
