
<!-- About content -->
<a name="about"></a>
<div htmlinclude="templates/content-about.html"></div>

<div class="b-example-divider"></div>

<!-- News content -->
<a name="news"></a>
<div htmlinclude="templates/content-news.html"></div>

<div class="b-example-divider"></div>

<!-- Donate content -->
<a name="donate"></a>
<div htmlinclude="templates/content-donate.html"></div>

<div class="b-example-divider"></div>

<!-- Contact content -->
<a name="contact"></a>
<div htmlinclude="templates/content-contact.html"></div>
