<div class="px-4 py-1 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="img/tahoe-logo.png" alt="Tahoe-LAFS logo" width="300">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">The Least-Authority File Store</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      Tahoe-LAFS is a Free and Open decentralized cloud storage system. It distributes your data across multiple servers. Even if some of the servers fail or are taken over by an attacker, the entire file store continues to function correctly, preserving your privacy and security.
    </div>
  </div>
</div>
