/* overide bootstrap defaults */
body {
    background:#FEF9F9;
    padding: 3rem 1rem;
    color: #070707;
}
a {
    color: #ff0000;
}
a:hover{
    color: #bb0000;
}
.btn-primary{
    background: #ff0000;
    border-color: #ff0000;
}
.btn-primary:hover{
    background: #bb0000;
    border-color: #bb0000;
}

/* nav */
.nav-item {
    font-size: 1rem;
    text-transform: uppercase;
}
/* list */
.list {
    padding-left: 0;
}
.list-item {
    list-style: none;
    background: no-repeat left center / 1.125rem auto;
    /* background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.125rem; */
    padding-left: 1.875rem;
    
}
.list-item--custom {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E"); 
}